.project-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 0 20px 0 0;
    overflow-y: auto; /* Adding scrollbar for vertical overflow */
    overflow-x: hidden;
  }
  
  .dabba {
    width: 242px;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s ease;
  }
  
  .dabba:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
  
  .dabba .projName {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  
  .dabba .date {
    font-size: 0.7rem;
    color: rgb(136, 135, 135);
    margin-bottom: 25px;
  }
  
  .dabba .underline {
    border-color: transparent;
    background-color: rgba(224, 224, 224, 0.39);
    width: 40%;
    height: 5px;
    margin-bottom: 20px;
  }
  
  .dabba .team {
    display: flex;
  }
  