.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 80%; /* Adjust the width as needed */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 100px;
  padding-bottom: 50px;
}

.dashboard, .project {
  width: 180px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.dashboard:hover, .project:hover {
  background-color: rgb(148, 185, 226); /* New background color on hover */
  border-radius: 5px;
  font-size: 1.08rem;
  color: white;
}

.right .heading { 
  text-align: right;
  padding: 10px;
  margin: 20px;
}

/* --------------------------------------------------------------------------------------------------------------- */

.center .bottom {
  width: 100%;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
  overflow-y: auto; /* Adding scrollbar for vertical overflow */
}

.center .bottom .filter {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 0.88rem;
}

.center .bottom .filter .filterBy {
  padding-right: 20px;
}

.center .bottom .filter .options {
  padding-right: 10px;
  border-right: 2px solid rgba(196, 194, 194, 0.7);
}

.center .bottom .filter .highlight:hover {
  color: rgb(148, 185, 226);
  cursor: pointer;
}

.center .bottom .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 0 20px 0 0;
  overflow-y: auto; /* Adding scrollbar for vertical overflow */
  overflow-x: hidden;
}
