.comment-container .comment-box {
    width: 100%;
    height: auto;
    background-color: white;
    word-wrap: break-word;
    padding: 10px 10px 0 10px;
  }
  
  .comment-container .comment-box .member-name {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  
  .comment-box .member-name .user-name {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .comment-container .comment-box .comment {
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
    margin-top: 10px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .time{
    color: rgb(76, 76, 76);
    font-weight: 400;
    font-size: 0.8rem;
  }