.top {
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.top .logout {
    border: 2px solid rgb(148, 185, 226);
    padding: 8px;
    margin-top: 5px;
    background-color: white;
    color: rgb(148, 185, 226);
    font-size: 0.88rem;
    cursor: pointer;
    border-radius: 5px;
}

.top .logout:hover {
    background-color: rgb(148, 185, 226);
    color: white;
}

.top .logo {
    width: 250px;
    overflow: hidden; /* Ensure the image fits within the circle */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.top .logo img {
    object-fit: cover;
    width: 100%; /* Ensure the image uses the full width of the container */
    height: auto; /* Maintain aspect ratio */
    padding: 0;
    opacity: 0.7; 
}
