.filter {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 0.88rem;
  }
  
  .filter .filterBy {
    padding-right: 20px;
  }
  
.filter .options {
    padding-right: 10px;
    border-right: 2px solid rgba(196, 194, 194, 0.7);
  }
  
.filter .highlight:hover {
    color: rgb(148, 185, 226);
    cursor: pointer;
  }
  
.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 0 20px 0 0;
    overflow-y: auto; /* Adding scrollbar for vertical overflow */
    overflow-x: hidden;
  }
  